.sideNav{
  border: 2px solid;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  gap: 15vh;
  width: 100px;
  padding: 10px 10px;
  border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  
}
.sideNav div{
  border: 1px solid;
  width: 100px;
  padding: 10px 10px 10px;
  text-align: center;
  border-radius: 7px;
}
.hoverdiv:hover{
  background-color: lightgray;
  border-radius: 15px;
  translate: 20px;
  box-shadow: -12px 7px 10px;
}
.sideNav a{
  padding: 4px 4px 4px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.appcontainer{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}